#header	{
	height: 120px;
	border-bottom: 1px solid #A0A0A0;
}

body {
	background-image: url(../../assets/p1.png);
	background-repeat: repeat;
	font-family: Helvetica, Arial, "Trebuchet MS";
	
}

#navigation	{
	height: 120px;
	top: 20px;
	padding-top: 15px;
}

.slide-animation-setup	{
	-webkit-transition: .5s linear all;
	-moz-transition: .5s linear all;
	-o-transition: .5s linear all;
	transition: .5s linear all;
	left: 100%;
	opacity: 0;
}

.slide-animation-setup.slide-animation-start	{
	left: 0;
	opacity: 1;
}



